.playerbox
{
    height: 90vh;
    width: 15vw;
    background: purple;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    margin-left: 10px;
}
