.box{
    margin:20px;
    height: 50vh;
    width: 35vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: blue;
    border: 10px solid;
    border-radius: 20px;
}
