.canvasbox
{
    width: 65vw;
    background: turquoise;
    height: 90vh;
    margin-top:15px ;
}
.wordguess
{
    height: 8vh;
}
.options
{
    display: flex ;
    justify-content: center;
    align-items: center;
}
.optionimg
{

}
.op
{
    height: 50px;
    width: 50px;
}
.brush
{
    
    height : 7vh ; 
    width : 15vw ; 
    display: flex ; 
    justify-content: space-evenly;
    align-items: center;

}
.brush-one
{
    background: black;
    height: 20px;
    width: 20px;
    border-radius: 100%;
}
.brush-two
{
    background: black;
    height: 40px;
    width: 40px;
    border-radius: 100%;
}
.brush-three
{
    background: black;
    height: 50px;
    width: 50px;
    border-radius: 100%;
}
.palette{
    display: flex;
    height: 7vh;
    width: 30vw;

}
.pink
{
  background: pink;
  height:100%;
  width: 15%;
}
.black
{
   background:black;
   height:100%;
  width: 15%;
}
.blue
{
   background: blue ;
   height:100%;
  width: 15%;
}
.red
{
   background: red;
   height:100%;
  width: 15%;
}
.yellow
{
    background:yellow;
    height:100%;
  width: 15%;
}
.purple
{
    background: purple;
    height:100%;
  width: 15%;
}
.green
{
    background: green ;
    height:100%;
  width: 15%;
}
.brown 
{
    background:brown;
    height:100%;
  width: 15%;
}